@import "~bootstrap/dist/css/bootstrap.css" ;
@import url('https://fonts.googleapis.com/css?family=Bangers|Dancing+Script|Lobster+Two|Spicy+Rice|Yeseva+One&display=swap');

body{
  background-image: url('../src/assets/pexel.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}